.tokenz {
  font-size: 8pt;
  color: navy;
}

.valz {
  font-size: 14pt;
  color: green;
}

.counter {
  font-size: 14pt;
  color: magenta;
}

.keyz {
  font-size: 14pt;
  font-weight: bold;
  font-style: italic;
}
