<!--The content below is only a placeholder and can be replaced.-->

<h2 style="color: lightseagreen;">Oceanids C2 Gateway Login Test</h2>

<hr>

<button (click)="login()">Login</button>
<button (click)="refresh(false)">Refresh</button>
<button (click)="refresh(true)">Auto</button>
<button (click)="logout()">Clear</button>

<h3></h3>

<p class="keyz">Access token: <span class="tokenz">{{accessToken}} </span> </p>
<p class="keyz">Username: <span class="valz">{{userName}}</span> </p>
<p class="keyz">Expires at: <span class="valz" >{{expiresAt}}</span>  </p>
<p class="keyz">Refresh token: <span class="tokenz">{{refreshToken}}</span> </p>

<p class="keyz">Next refresh: <span class="valz" >({{refreshCount}}) at {{nextRefresh}}</span> <span class="counter">[{{countDown}}]</span> </p>
